<!--
    File: voter_analytics/templates/voter_analytics/search.html
    Author: Steven Phung (sphung01@bu.edu), 6/13/2025
    Description: A template we can use to help filter Voters.
    This is helpful for keeping the files organized and we
    can simply use this for any other HTMLs.
-->

<div class="search-filter-form">
    <h1>Search Filter Form</h1>
    <!-- We have a form that will allow user to filter the Voters -->
    <table class="filter-table">
        <form action="">

            <!-- A dropdown list for Party Affiliations -->
            <tr>
                <th>Party Affiliation:</th>
                <td>
                    <select name="party">
                        <option value="">-- All --</option>
                        <option value="U ">U</option>
                        <option value="D ">D</option>
                        <option value="R ">R</option>
                        <option value="CC">CC</option>
                        <option value="L ">L</option>
                        <option value="T ">T</option>
                        <option value="O ">O</option>
                        <option value="G ">G</option>
                        <option value="J ">J</option>
                        <option value="Q ">Q</option>
                        <option value="FF">FF</option>
                    </select>
                </td>
            </tr>

            <!-- A dropdown list to filter DoB by calender year -->
            <tr>
                <th>Date of Birth:</th>
                <td>
                    <!-- Where to start from -->
                    From
                    <select name="year_start">
                        <option value="">-- All --</option>
                        {% for year in calender_year %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                    <!-- Where to end at -->
                    To
                    <select name="year_end">
                        <option value="">-- All --</option>
                        {% for year in calender_year %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <!-- A dropdown list to filter Voters based on voter score -->
            <tr>
                <th>Voter Score:</th>
                <td>
                    <select name="voter_score">
                        <option value="">-- All --</option>
                        {% for score in voter_scores %}
                            <option value="{{ score }}">{{ score }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <!-- Checkboxes to filter Voters based on which election they have participated in -->
            <tr>
                <th>Voted In Specific Elections:</th>
                <td>
                    <label>
                        <input type="checkbox" name="v20state" value="true">2020 State
                    </label>
                    <label>
                        <input type="checkbox" name="v21town" value="true">2021 Town
                    </label>
                    <label>
                        <input type="checkbox" name="v21primary" value="true">2021 Primary
                    </label>
                    <label>
                        <input type="checkbox" name="v22general" value="true">2022 General
                    </label>
                    <label>
                        <input type="checkbox" name="v23town" value="true">2023 Town
                    </label>
                </td>
            </tr>

            <!-- A submit/filter button -->
            <input type="submit" value="Filter Voters!" class="filter-button">
        </form>
    </table>
</div>