<!--
    File: project/templates/project/base.html
    Author: Steven Phung (sphung01@bu.edu), 6/20/2025
    Description: A base/layout for every existing page in the 'Attendance' app.
-->

{% load static %}
<html>
    <head>
        <title>Attendance Website</title>
        <!-- Has access to the mini_fb_styles.css file -->
        <link rel="stylesheet" href="{% static 'project_styles.css' %}">
    </head>

    <body>
        <header>
            <h1>BU Attendance Web</h1>
            <nav>
                <ul>
                    <li>About</li>
                    <li>Login</li>
                    <li>Logout</li>
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            Page was created by sphung01@bu.edu
        </footer>
    </body>
</html>