<!--
    File: project/templates/project/base.html
    Author: Steven Phung (sphung01@bu.edu), 6/20/2025
    Description: A base/layout for every existing page in the 'Attendance' app.
-->

{% load static %}
<html>
    <head>
        <title>Attendance Website</title>
        <!-- Has access to the mini_fb_styles.css file -->
        <link rel="stylesheet" href="{% static 'project_styles.css' %}">
    </head>

    <body>
        <header>
            <h1 class="web-title">BU Attendance Web</h1>
            <nav class="navigation">
                <ul>
                    <li><a href="{% url 'project:home' %}">Home</a></li>
                    <li><a href="{% url 'project:sign_up' %}">Sign Up</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'project:account' request.user.projectuser_set.first.pk %}">My Account</a></li>
                        <li>
                            <form method="POST" action="{% url 'project:logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="logout-button">Log Out</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'project:login' %}">Login</a></li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                    <h3 class="logger-info">Logged in as: {{request.user}}</h3>
                {% else %}
                    <h3 class="logger-info">Currently Not Logged In</h3>
                {% endif %}
            </nav>
        </header>

        {% block content %}
        {% endblock %}

    </body>
</html>