{% extends 'project/base.html' %}
{% block content %}
<main class="home-page">
    <h1>Welcome To The BU Attendance Web!</h1>
    {% with request.user.projectuser_set.first as profile %}
        {% if profile and profile.role == "Teacher" %}
            <h3>
                <a href="{% url 'project:courses' %}">Click Here to Start!</a>
            </h3>
        {% elif profile and profile.role == "Student" %}
            <h3>
                <a href="{% url 'project:enrollments' %}">Click Here to Start!</a>
            </h3>
        {% else %}
            <h3>
                Please click on 'Sign Up' or 'Login' to begin session.
            </h3>
        {% endif %}
    {% endwith %}
    <h3>
        NOTE: This is not an official BU website :>
    </h3>
</main>
{% endblock %}