<!--
    File: project/templates/project/invalid_code.html
    Author: Steven Phung (sphung01@bu.edu), 6/25/2025
    Description: If the student entered a wrong code or the course is inactive,
    they will get this page and have to try again.
-->


{% extends 'project/base.html' %}
{% block content %}
<main class="home-page">
    <!-- Only student can see this -->
    {% with request.user.projectuser_set.first as profile %}
        {% if profile and profile.role == "Student" %}
            <h1>The code you entered is wrong, inactive or you are already present.</h1>
            <!-- Returns them to the page to enter code again -->
            <a href="{% url 'project:take_attendance' enrollment.pk %}">Please Try Again</a>
        {% endif %}
    {% endwith %}
</main>
{% endblock %}