<!--
    File: project/templates/project/join_class_code.html
    Author: Steven Phung (sphung01@bu.edu), 6/25/2025
    Description: A page for the student to enroll in class with a code.
-->

{% extends 'project/base.html' %}
{% block content %}
<main class="join-class-page">
    <!-- Only students can see this -->
    {% with request.user.projectuser_set.first as profile %}
        {% if profile and profile.role == "Student" %}
            <!-- This is where the student will enter the code to enroll -->
            <form method="POST" action="">
                {% csrf_token %}
                <h1>Please Enter Code To Join Class</h1>
                {{ form }}
                <button type="submit" class="submit-code-button">Submit Code</button>
            </form>
            <!-- Returns student back to enrollments page -->
            <a href="{% url 'project:enrollments' %}">Go Back</a>
        {% endif %}
    {% endwith %}
</main>
{% endblock %}