<!--
    File: restaurant/templates/restaurant/confirmation.html
    Author: Steven Phung (sphung01@bu.edu), 5/22/2025
    Description: After the client has placed their order,
    they will be sent to a 'confirmation' page with the chosen
    items, information, and ready time
-->

{% extends 'restaurant/base.html' %}
{% block content %}
<div>

    <div class="order-container">
        <h1>Confirmation</h1>
        <div class="order-info">
            <strong>Name: </strong> {{name}}
        </div>

        <div class="order-info">
            {% if email %}
                <strong>Email: </strong> {{email}}
            {% else %}
                <strong>Email: </strong> N/A
            {% endif %}
        </div>

        <div class="order-info">
            {% if phone_number %}
                <strong>Phone Number: </strong> {{phone_number}}
            {% else %}
                <strong>Phone Number: </strong> N/A
            {% endif %}
        </div>

        <div class="order-info">
            <strong>Confirmed Orders: </strong>
            {% for item in chosen_items %}
            <div><p>{{item}}</p></div>
            {% endfor %}
        </div>

        <div class="order-info">
            {% if special_instructions %}
                <strong>Special Instructions: </strong> {{special_instructions}}
            {% else %}
                <strong>Special Instructions: </strong> N/A
            {% endif %}
        </div>

        <div class="order-info">
            <strong>Total cost: </strong> {{total_cost}}
        </div>

        <div class="order-info">
            <strong>Your order will be ready by: </strong> {{expected_time}}
        </div>

    </div>

</div>
{% endblock %}