<!-- blog/templates/blog/base.html -->
{% load static %}
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="{% static 'blog_styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Blog</h1>
            <nav>
                <ul>
                    <!-- URLs for users who are not logged in -->
                    <li><a href="{% url 'blog:show_all' %}">Show All</a></li>
                    <li><a href="{% url 'blog:random' %}">Random</a></li>

                    <!-- URLs for logged in users only -->
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'blog:create_article' %}">Create Article</a></li>                  
                    <li>
                        <form method="post" action="{% url 'blog:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <!-- URL for users who are not logged in -->
                    <li><a href="{% url 'blog:login' %}">Log in</a></li>
                    {% endif %}
                </ul>
                <hr>
                {% if request.user.is_authenticated %}
                Logged in as: {{request.user}}
                {% else %}
                Not logged in.
                {% endif %}
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>