<!--
    File: mini_fb/templates/mini_fb/base.html
    Author: Steven Phung (sphung01@bu.edu), 5/27/2025
    Description: A base/layout for every existing page in the 'mini_fb' app.
-->

{% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <!-- Has access to the mini_fb_styles.css file -->
        <link rel="stylesheet" href="{% static 'mini_fb_styles.css' %}">
    </head>

    <body>

        <div class="page-wrapper">

            <!-- Header of the website -->
            <header>

                <!-- This gives users a way to get back to the homepage when title is clicked -->
                <a href="{% url 'mini_fb:show_all_profiles' %}">
                    <h1>Mini Facebook</h1>
                </a>

                <!-- Navigation Bar -->
                <nav>
                    <ul>
                        <a href="{% url 'mini_fb:show_all_profiles' %}">
                            <li>Show All</li>
                        </a>
                        <a href="{% url 'mini_fb:create_profile' %}">
                            <li>Create Profile</li>
                        </a>
                    </ul>
                </nav>
                <!-- Navigation Bar (END) -->

            </header>
            <!-- Header/Title of the website (END) -->

            <!-- The main content in each page -->
            <!-- The block content will contain all of the HTML files and then display to user -->
            {% block content %}
            {% endblock %}
            <!-- The main content in each page (END) -->

            <!-- A footer at the bottom of the page -->
            <footer>
                <strong>Page was created by sphung01@bu.edu (The current time is {{current_time}}).</strong>
            </footer>
            <!-- A footer at the bottom of the page (END) -->

        </div>

    </body>
</html>