<!--
    File: mini_fb/templates/mini_fb/base.html
    Author: Steven Phung (sphung01@bu.edu), 5/27/2025
    Description: A base/layout for every existing page in the 'mini_fb' app.
-->

{% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <!-- Has access to the mini_fb_styles.css file -->
        <link rel="stylesheet" href="{% static 'mini_fb_styles.css' %}">
    </head>

    <body>

        <div class="page-wrapper">

            <!-- Header of the website -->
            <header>

                <!-- This gives users a way to get back to the homepage when title is clicked -->
                <a href="{% url 'mini_fb:show_all_profiles' %}">
                    <h1>Mini Facebook</h1>
                </a>

                <!-- Navigation Bar -->
                <nav>
                    <ul>
                        <!-- 
                            A conditional statement to display the links
                            depending on if the user is authenticated or not.
                        -->
                        {% if request.user.is_authenticated %}
                            <!-- These are the links for login users -->
                            <a href="{% url 'mini_fb:show_all_profiles' %}">
                                <li>Show All</li>
                            </a>
                            <a href="{% url 'mini_fb:profile' request.user.profile_set.first.pk %}">
                                <li>My Profile</li>
                            </a>
                        {% else %}
                            <!-- These are the links for non-login users -->
                            <a href="{% url 'mini_fb:show_all_profiles' %}">
                                <li>Show All</li>
                            </a>
                            <a href="{% url 'mini_fb:create_profile' %}">
                                <li>Create Profile</li>
                            </a>
                            <a href="{% url 'mini_fb:login' %}">
                                <li>Login</li>
                            </a>
                        {% endif %}
                    </ul>
                    <!-- 
                        Displays which user is logged in and a 'log out'
                        button. Otherwise, displays 'Not logged in'
                    -->
                    <div class="logger-info">
                        {% if request.user.is_authenticated %}
                            <h2>Logged in as: {{request.user}}</h2>
                            <!-- A button to log out the user -->
                            <form method="post" action="{% url 'mini_fb:logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="logout-button">Log Out</button>
                            </form>
                        {% else %}
                            <h2>Not logged in.</h2>
                        {% endif %}
                    </div>
                </nav>
                <!-- (END) -->

            </header>
            <!-- (END) -->

            <!-- The main content in each page -->

            <!-- The block content will contain all of the HTML files and then display to user -->
            {% block content %}
            {% endblock %}
            <!-- (END) -->

            <!-- A footer at the bottom of the page -->
            <footer>
                <strong>Page was created by sphung01@bu.edu (The current time is {{current_time}}).</strong>
            </footer>
            <!-- (END) -->

        </div>

    </body>
</html>