<!--
    File: mini_fb/templates/mini_fb/create_profile_form.html
    Author: Steven Phung (sphung01@bu.edu), 5/29/2025
    Description: A page that displays a form for the user
    to submit their profile and add to the database.
-->

{% extends 'mini_fb/base.html' %}
{% block content %}
<h1>Create New Profile</h1>

<!-- display the HTML form -->
<form action="{% url 'mini_fb:create_profile' %}" method="POST" class="form-style">
    {% csrf_token %}
    <h2 class="form-title">Please enter your information</h2>
    <table class="form-table">
        {{form.as_table}}
    </table>

    <input type="submit">
</form>
{% endblock %}