<!--
    File: mini_fb/templates/mini_fb/create_status_form.html
    Author: Steven Phung (sphung01@bu.edu), 5/29/2025
    Description: A page that displays a form for the user
    to submit their message to a profile
-->

{% extends 'mini_fb/base.html' %}
{% block content %}
<h1>Create New Message</h1>

<!-- Display the HTML form -->
<form method="POST" class="form-style" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="form-title">What's on your mind?</h2>
    <table class="form-table">
        <div>
            <input type="file" name = "files" multiple />
        </div>

        <div>
            <textarea name="caption" placeholder="Enter caption" rows="3" cols="30"></textarea>
        </div>
        {{form.as_table}}
    </table>

    <input type="submit">
</form>

<!-- A cancel button to send the user back to the Profile page -->
<form action="{% url 'mini_fb:profile' profile.pk %}" method="GET">
    <input type="submit" value="Cancel">
</form>
{% endblock %}