<!--
    File: mini_fb/templates/mini_fb/news_feed.html
    Author: Steven Phung (sphung01@bu.edu), 6/5/2025
    Description: A news feed that displays all of the status messages
    from this profile and their friends.
-->

{% extends 'mini_fb/base.html' %}
{% block content %}
<main class="news-feed-style">

    <!-- A button that will redirect the user back to the Profile Page -->
    <a href="{% url 'mini_fb:profile' profile.pk %}">
        <h4 class="profile-page-button">Go Back to Profile Page</h4>
    </a>

    {% for news in profile.get_news_feed %}
        <!-- Displays a comment from each Profile -->
        <div class="comment">

            <!-- Keeps the profile picture and info aligned -->
            <div class="commenter-container">
                    <img src="{{news.profile.profile_image_file.url}}" 
                     alt="{{news.profile.profile_image_file.url}}" 
                     class="news-feed-profile-image">
                <a href="{% url 'mini_fb:profile' news.profile.pk %}">
                    <h4>
                        {{news.profile.first_name}} {{news.profile.last_name}} {{news.timestamp}}
                    </h4>
                </a>
            </div>
            <!-- (END) -->
            
            <!-- Displays comment -->
            <p>{{news.message}}</p>
            <!-- (END) -->

            <!-- Displays an image with the optional caption -->
            <div>
                {% for img_status in news.get_images %}
                    {% if img_status.caption %}
                        <p>{{img_status.caption}}</p>
                    {% endif %}
                    <img src='{{img_status.image_file.url}}' alt='{{img_status.image_file.url}}' class="img-caption">
                {% endfor %}
            </div>
            <!-- (END) -->

        </div>
        <!-- (END) -->

    {% endfor %}

</main>
{% endblock %}