<!--
    File: mini_fb/templates/mini_fb/show_profile.html
    Author: Steven Phung (sphung01@bu.edu), 5/27/2025
    Description: A page that displays a specific profile
    after the user clicks on the image.
-->

{% extends 'mini_fb/base.html' %}
{% block content %}
<main class="grid-container">

        <!-- If a profile does have an image in the database, display it -->
        {% if profile.profile_image_file %}
            <img src="{{profile.profile_image_file.url}}" alt="{{profile.profile_image_file.url}}" class="profile-image">
        {% endif %}
        <!-- (END) -->

        
        <!-- This container displays first name, last name, city, and email -->
        <div class="info-container">

            <!-- Displays the information of the Profile -->
            <h2>{{profile.first_name}} {{profile.last_name}}</h2>
            <p><strong>City: </strong>{{profile.city}}</p>
            <p><strong>Email: </strong>{{profile.email_address}}</p>
            <!-- (END) -->

            <!-- This will redirect user to a page where they can update/change info on this Profile -->
            <a href="{% url 'mini_fb:update_profile' profile.pk %}">
                <h4 class="update-profile-button">Update Profile</h4>
            </a>
            <!-- (END) -->

            <!-- Display a list of friends -->
            <div class="friends-list">
                <h2>Friends</h2>
                <a href="{% url 'mini_fb:friend_suggestions' profile.pk %}">
                    <h3 class="friend-suggestion-button">Connect With Others</h3>
                </a>
                {% for friend in profile.get_friends %}
                    <a href="{% url 'mini_fb:profile' friend.pk %}">
                        <div class="friend-container">
                            <h4>{{friend.first_name}} {{friend.last_name}}</h4>
                            <img src="{{friend.profile_image_file.url}}" alt="{{friend.profile_image_file.url}}" class="friend-image">
                        </div>
                    </a>    
                {% endfor %}
            </div>
            <!-- (END) -->

        </div>
        <!-- (END) -->
        

        <!-- This container displays all comments on this profile -->
        <div>
            <h2>Comments: </h2>
            <!-- Performs a for loop on all messages -->
            {% for st_msg in profile.get_status_message %}
                <div class="comment-container">
                    <!-- Displays the message and timestamp message was sent -->
                    <p>{{st_msg.profile}}: {{st_msg.message}} (Sent: {{st_msg.timestamp}})</p>
                        
                    <!-- Displays an image with the optional caption -->
                    <div>
                        {% for img_status in st_msg.get_images %}
                            {% if img_status.caption %}
                                <p>{{img_status.caption}}</p>
                            {% endif %}
                            <img src='{{img_status.image_file.url}}' alt='{{img_status.image_file.url}}' class="img-caption">
                        {% endfor %}
                    </div>

                    <!-- A container that has the update and delete button -->
                    <div class="update-or-delete">

                        <!-- Allows user to update the message -->
                        <a href="{% url 'mini_fb:update_status' st_msg.pk %}">
                            <h4 class="update-delete-button">Update</h4>
                        </a>

                        <!-- Allows user to delete the message -->
                        <a href="{% url 'mini_fb:delete_status' st_msg.pk %}">
                            <h4 class="update-delete-button">Delete</h4>
                        </a>
                        
                    </div>
                </div>
            {% endfor %}
            <!-- End of the loop -->

            <!-- Redirects user to a page where they can add new messages -->
            <a href="{% url 'mini_fb:create_status' profile.pk %}">
                <h4 class="add-message-button">Add Message</h4>
            </a>

            <!-- Redirects user to news feed -->
            <a href="{% url 'mini_fb:news_feed' profile.pk %}">
                <h4 class="news-feed-button">Check News Feed</h4>
            </a>

        </div>
        <!-- (END) -->

</main>
{% endblock %}