<!--
    File: mini_fb/templates/mini_fb/show_all_profiles.html
    Author: Steven Phung (sphung01@bu.edu), 5/27/2025
    Description: A page that display all of the profiles on Facebook.
-->

{% extends 'mini_fb/base.html' %}
{% block content %}
<main class="grid-container">

    <!-- This scriptlet loops through Profiles and display each character -->
    {% for profile in profiles %}
    <article>

        <!-- If a profile does have an image in the database, display it -->
        {% if profile.profile_image_file %}
            <a href="{% url 'mini_fb:profile' profile.pk %}">
                <img src="{{profile.profile_image_file.url}}" alt="{{profile.profile_image_file.url}}">
            </a>
        {% endif %}
        <!-- If a profile does have an image in the database, display it (END) -->
        
        <!-- This container displays first name, last name, city, and email -->
        <div>
            <h2>{{profile.first_name}} {{profile.last_name}}</h2>
            <p><strong>City: </strong>{{profile.city}}</p>
            <p><strong>Email: </strong>{{profile.email_address}}</p>
        </div>
        <!-- This container displays first name, last name, city, and email (END) -->

    </article>
    {% endfor %}
    <!-- This scriptlet loops through Profiles and display each character (END) -->

</main>
{% endblock %}