<!--
    File: mini_fb/templates/mini_fb/update_status_form.html
    Author: Steven Phung (sphung01@bu.edu), 6/3/2025
    Description: A page that displays a form for the user
    to edit their message or StatusMessage instance.
-->

{% extends 'mini_fb/base.html' %}
{% block content %}
<h1>Update Message</h1>

<!--
    This HTML form will give user a choice
    to update message or cancel
-->
<form action="{% url 'mini_fb:update_status' status.pk %}" method="POST" enctype="multipart/form-data" class="form-style">
    {% csrf_token %}
    <h2 class="form-title">What do you want to change?</h2>
    <table class="form-table">
        {{form.as_table}}
    </table>

    <input type="submit">
</form>

<!-- A cancel button to send the user back to the Profile page -->
<form action="{% url 'mini_fb:profile' status.profile.pk %}" method="GET">
    <input type="submit" value="Cancel">
</form>
{% endblock %}