body {
   margin: 0 auto; 
   height: 100%;  
   background-color: #74A662;
   color: white;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling for the navigation bar */
nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

.people_icon_style {
    width: 50px;
    height: 50px;
}

.people_icon_style:hover {
    filter: brightness(0) saturate(100%) invert(41%) sepia(92%) saturate(6400%) hue-rotate(85deg) brightness(95%) contrast(90%);
}

.add_post_icon_style {
    width: 50px;
    height: 50px;
}

.add_post_icon_style:hover {
    filter: brightness(0) saturate(100%) invert(41%) sepia(92%) saturate(6400%) hue-rotate(85deg) brightness(95%) contrast(90%);
}


a {
    text-decoration: none;
    color: inherit;
}

/* Styling for base layout */
.title {
    font-family: cursive;
}

/* A page wrapper for the entire page */
.page-wrapper {
    max-width: 900px; /* Sets a maximum width */
    width: 100%;     /* Allows it to shrink on smaller screens */
    margin: 0 auto;  /* Centers the wrapper horizontally */
    padding: 20px;   /* Adds internal spacing around content */
    background-color: black;
    min-height: 100vh; /* Prevents bleeding */
}

/* Styling for the user when showing all profiles */
.show_all_main {
    padding: 20px;
}

.show_all_container {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px; 
    margin-bottom: 20px; /* space between each profile container */
    border-style: groove;
    border-width: 1px;
    border-color: white;
    border-radius: 20px;
}

.show_all_container:hover {
    background-color: lightgray;
    color: black;
}


.show_all_image {
    width: 100px;
    height: 100px;
}


.show_all_text {
    text-align: left;
    margin: 0;
}

/* Styling for the user when showing one profile */
.post_photo {
    width: 200px;
    height: 200px;
}

.profile_picture_style {
    border: solid;
    border-width: 1px;
    border-radius: 200px;
    width: 200px;
    height: 200px;
}

.profile_stats_style {
    display: flex;
    flex-direction: row;
    gap: 20px;
}