/* 
    File: project_styles.css
    Author: Steven Phung (sphung01@bu.edu), 6/21/2025
    Description: This file is responsible for styling
    the website to increase user experience
*/


/* Styling for the base.html file */
body {
    font-family: 'Lucida Console', monospace;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CC0000;
    color: white;
}

.web-title {
    margin: 20px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem; /* space between menu items */
    list-style-type: none;
    margin: 20px;
}

.navigation li:hover {
    cursor: pointer;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.logout-button:hover {
    text-decoration: underline;
}

.logger-info {
    text-align: right;
    margin: 20px;
}

/* This part right here is for styling the home.html file */
.home-page {
    text-align: center;
}

.home-page a {
    color: black;
    background-color: #CC0000;
    padding: 10px;
    border-radius: 5px;
}

.home-page a:hover {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

/* This part right here is for styling the sign_up.html file */
.sign-up-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-table-signup {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

/* make form fields and labels white */
.form-table-signup textarea,
.form-table-signup label {
    color: white;
}

.sign-up-form-style {
    background-color: #CC0000;
    border-radius: 10px;
    width: 40%;
    padding: 10px;
}

.sign-up-form-style .helptext,
.sign-up-form-style .errorlist {
    color: white;
}

.create-user-button {
    background: none;
    border: none;
    color: white;
    font: inherit;
    cursor: pointer;
    padding: 10px;
    margin: 0;
    background-color: black;
    border-radius: 10px;

}

.create-user-button:hover {
    background-color: white;
    color: black;
}

/* This part right here is for styling the show_my_account.html file */
.account-page {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* centers horizontally */
    align-items: center;      /* centers vertically (if needed) */
}

.account-table {
    border-collapse: collapse;
    border-spacing: 30px 10px; /* 30px horizontal gap, 10px vertical */
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.account-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for even rows */
}

.account-table, tr, th{
    text-align: left;
    padding-right: 20px; /* adds space between columns */
    padding-top: 8px;
    padding-bottom: 8px;
}

/* This part right here is for styling the show_courses.html file */
.courses-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers children horizontally */
    margin: 20px;
}

.courses-page a{
    background-color: #CC0000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.courses-page a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* This part right here is for styling the course_detail.html file */
.course-detail-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.course-detail-page a {
    background-color: #CC0000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.course-detail-page a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.record-table tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light gray for even rows */
}
