/* 
    File: static/quotes_styles.css
    Author: Steven Phung (sphung01@bu.edu), 5/21/2025
    Description: This file is responsible for styling
    the website to increase user experience for the 
*/

/* 
    A universal selector that removes all margin
    and adds box-sizing to avoid unexpected sizing issues
*/
*{
    margin: 0;
    box-sizing: border-box;
}

/* Added white background to all pages of the body */
body {
    background-color: white;
}

/* Styles for the navigation bar */
nav {
    display: flex;
    background-color: limegreen;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    gap: 100px;
}

nav li {
    background-color: gray;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Styles for the About page */
.about_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: (2px + 1.5vw);
    background-color: lightgreen;
    text-align: center;
}

.about-content {
    text-align: center;
    margin: 50px;
    padding: 25px;
    justify-content: center;
    border-style: groove;
    border-radius: 5px;
    border-width: 5px;
    background-color: black;
    color: white;
}

/* Styles for the Quote of The Day page */
.quote_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: (2px + 1.5vw);
    background-color: lightgreen;
    text-align: center;
}

.quote_container {
    margin: 50px;
}

.quote_content {
    border-style: groove;
    border-radius: 5px;
    border-width: 5px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 20px;
    background-color: black;
    color: white;
}

/* Styles for the All Quotes page */
.all_quotes_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: (2px + 1.5vw);
    background-color: lightgreen;
    text-align: center;
}

.all_images {
    width: 200px;
    border-style: groove;
    border-radius: 5px;
    border-width: 10px;
    border-color: antiquewhite;
}

.all_quotes_container {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px;
    border-style: groove;
    border-width: 5px;
    background-color: black;
    color: white;
}

.all_quotes {
    list-style-type: none;
    margin: 20px;
}

.quote {
    margin: 20px;
}

/* Other styles */
.page_wrapper {
    width: 80vw;
    margin: 0 auto;
    background-color: lightgreen;
    min-height: 100vh;
}

img {
    width: 400px;
    border-style: groove;
    border-radius: 5px;
    border-width: 10px;
    border-color: antiquewhite;
}

footer {
    background-color: limegreen;
}