/* 
    File: static/restaurant_styles.css
    Author: Steven Phung (sphung01@bu.edu), 5/22/2025
    Description: This file is responsible for styling
    the website to increase user experience for the 
*/

/* 
    A universal selector that removes all margin
    and adds box-sizing to avoid unexpected sizing issues
*/
*{
    margin: 0;
    box-sizing: border-box;
}

/* Other styling */
body {
    background-color: white; /* Added white background to all pages of the body */
    color:white
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    font-size: (1px + 1.5vw);
    text-align: center;
}

footer {
    background-color: #F2A341;
}

.page-wrapper {
    width: 80vw;
    margin: 0 auto;
    background-color: #5A7D7C;
    min-height: 100vh;
    border-style: groove;
    border-width: 7px;
    border-color: burlywood;
}

/* Styles for the navigation bar */
nav {
    display: flex;
    background-color: #F2A341;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    gap: 100px;
}

nav li {
    background-color: gray;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Styling for main.html (Main Page) */
.mr-krabs {
    background-color: gray;
    width: 400px;
    border-style: groove;
    border-width: 7px;
    border-color: burlywood;
}

.mr-krabs-quote {
    border-style: groove;
    border-width: 7px;
    border-color: burlywood;
    background-color: black;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 25px;
}

/* Styling for order.html (Order Page) */
.order-form {
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-width: 7px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.combos {
    padding: 20px;
}

.sides {
    padding: 20px;
}

textarea {
    width: 250px;
    height: 100px;
}

/* Styling for confirmation.html (Confirmation Page) */
.order-container {
    border-style: groove;
    border-width: 7px;
    background-color: black;
    margin-left: 300px;
    margin-right: 300px;
}

.order-info {
    margin-top: 20px;
    margin-bottom: 20px;
}