{% load static %}
<html>
    <head>
        <title>Quote of The Day</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="{% url 'quote' %}">Quote of The Day</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'show_all' %}">All Quotes From Albert Einstein</a></li>
            </ul>
        </nav>
            
        {% block content %}
        {% endblock %}
        
        <hr>
        The current time is {{current_time}}.

    </body>
</html>