{% extends 'quotes/base.html' %}
{% block content %}
<main class="all_quotes_page">
    <h1>All of The Quotes</h1>
    
    <div class="all_quotes_container">
        <h2>List of Quotes</h2>
        <ul class="all_quotes">
            {% for quote in all_quotes %}
            <li class="quote">"{{quote}}"</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>List of Images</h2>
        <div>
            {% for image in all_images %}
            <img src={{image}} alt="Picture of Albert Einstein" class="all_images">
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}