<!--
    File: mini_insta/templates/mini_insta/base.html
    Author: Steven Phung (sphung01@bu.edu), 9/17/2025
    Description: A base/layout for every existing page in the 'mini_insta' app.
-->

{% load static %}
<html>
    <head>
        <title>Mini Instagram</title>
        <!-- Has access to the mini_fb_styles.css file -->
        <link rel="stylesheet" href="{% static 'mini_insta_styles.css' %}">
    </head>

    <body>

        <div class="page-wrapper">

            <!-- Header of the website -->
            <header>
                <a href="{% url 'mini_insta:show_all_profiles' %}">
                    <h1 class="title">Mini Instagram</h1>
                </a>
            </header>
            <!-- (END) -->

            <nav>
                <a href="{% url 'mini_insta:show_all_profiles' %}">Show All</a>
            </nav>

            <!-- The main content in each page -->

            <!-- The block content will contain all of the HTML files and then display to user -->
            {% block content %}
            {% endblock %}
            <!-- (END) -->

        </div>

    </body>
</html>