<!--
    File: mini_insta/templates/mini_insta/base.html
    Author: Steven Phung (sphung01@bu.edu), 9/17/2025
    Description: A base/layout for every existing page in the 'mini_insta' app.
-->

{% load static %}
<html>
    <head>
        <title>Mini Instagram</title>
        <!-- Has access to the mini_fb_styles.css file -->
        <link rel="stylesheet" href="{% static 'mini_insta_styles.css' %}">
    </head>

    <body>

        <div class="page-wrapper">

            <!-- Header of the website -->
            <header>
                {% if profile %}
                    <h1>{{ profile.username }}</h1>
                {% else %}
                    <a href="{% url 'mini_insta:show_all_profiles' %}">
                        <h1 class="title">Mini Instagram</h1>
                    </a>
                {% endif %}
            </header>
            <hr>
            <!-- (END) -->

            <!-- The main content in each page -->

            <!-- The block content will contain all of the HTML files and then display to user -->
            {% block content %}
            {% endblock %}
            <!-- (END) -->

            <nav>
                <a href="{% url 'mini_insta:show_all_profiles' %}">
                    <img src="{% static 'people_icon.png' %}" class="people_icon_style"/>
                </a>
                {% if profile %}
                    <a href="{% url 'mini_insta:create_post' profile.pk %}">
                        <img src="{% static 'add_post_icon.png' %}" class="add_post_icon_style"/>
                    </a>
                {% endif %}
            </nav>

        </div>

    </body>
</html>