<!--
    File: mini_insta/templates/mini_insta/show_profile.html
    Author: Steven Phung (sphung01@bu.edu), 9/17/2025
    Description: This page is similar to the "show all profiles" page,
    BUT we are only showing one user. It also depends on what primary key we are
    looking into. Each profile has their own PK integer.
-->


{% extends 'mini_insta/base.html' %}
{% load static %}
{% block content %}
<main>

    <div class="profile-and-stats-styling">
        <div>
            <img src="{{ profile.profile_image_url.url }}" alt="Missing an image" class="profile_picture_style">
        </div>

        <div>

            <div>
                <h3>{{profile.display_name}}</h3>
            </div>

            <div class="profile_stats_style">
                <div>
                    <strong>0</strong>
                    <p>Posts</p>
                </div>
                <div>
                    <strong>0</strong>
                    <p>Followers</p>
                </div>
                <div>
                    <strong>0</strong>
                    <p>Following</p>
                </div>
            </div>

        </div>
    </div>

    <div class="profile_info_style">
        <p>{{profile.bio_text}}</p>
    </div>

    <div>
        <a href="{% url 'mini_insta:update_profile' profile.pk %}">
            <button type="button" class="edit-profile-button">Edit Profile</button>
        </a>
    </div>

    <div class="post-grid">
        {% for post in profile.get_all_posts %}
            {% with post.get_all_photos.first as first_photo %}
                {% if first_photo %}
                    <a href="{% url 'mini_insta:show_post' post.pk %}"> 
                        <img src="{{ first_photo.image_url.url }}" alt="Photo" class="post_first_photo">
                    </a>
                {% else %}
                    <a href="{% url 'mini_insta:show_post' post.pk %}">
                        <img src="{% static 'no_image.png' %}" alt="No photo available" class="post_first_photo">
                    </a>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
</main>
{% endblock %}