<!--
    File: mini_insta/templates/mini_insta/show_all_profiles.html
    Author: Steven Phung (sphung01@bu.edu), 9/17/2025
    Description: This page will display all of the Profile objects that
    exists in the database. Each Profile object wiill show: Image, Username,
    Display Name, Bio Text, and Join_Date.
-->

{% extends 'mini_insta/base.html' %}
{% block content %}
<main class="show_all_main">
    {% for profile in profiles %}
        <a href="{% url 'mini_insta:show_profile' profile.pk %}" class="show_all_link">
            <div class="show_all_container">
                <img src="{{ profile.profile_image_url.url }}" alt="Missing an image" class="show_all_image">
                <div class="show_all_text">
                    <h2>{{profile.username}}</h2>
                    <h4>{{profile.display_name}}</h4>
                </div>
            </div>
        </a>
    {% endfor %}
</main>
{% endblock %}