<!--
    File: mini_insta/templates/mini_insta/show_all_profiles.html
    Author: Steven Phung (sphung01@bu.edu), 9/17/2025
    Description: This page will display all of the Profile objects that
    exists in the database. Each Profile object wiill show: Image, Username,
    Display Name, Bio Text, and Join_Date.
-->

{% extends 'mini_insta/base.html' %}
{% block content %}
<main>
    {% for profile in profiles %}
        <div>
            <img src="{{ profile.profile_image_url.url }}" alt="Missing an image">
        </div>
        <div>
            <h2>{{profile.username}}</h2>
            <h4>{{profile.display_name}}</h4>
            <p>{{profile.bio_text}}</p>
            <p>Account created at: {{profile.join_date}}</p>
        </div>
    {% endfor %}
</main>
{% endblock %}